:root {
  scroll-behavior: smooth;
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --primary-text-color: #fff;
  --secondary-text-color: #eee;
  --reverse-primary-text-color: #000;
  --primary-invalid-color: crimson;
  --primary-shadow-color: #20232a80;
  --secondary-shadow-color: #282c3480;
  --tertiary-shadow-color: #00000040;
  --reverse-primary-shadow-color: #fff8;
  --primary-highlight-color: #61dafb;
  --secondary-highlight-color: gold;
  --primary-button-color: #61dafb;
  --secondary-button-color: gold;
  --primary-font-family: 'Inconsolata', monospace;
  --padding-section: 1.5rem;
  --padding-container: 1rem;
  --max-width-container: 640px;
  --primary-border-radius: 0.5rem;
}
 "><div><h3 class="style-chat-label-3XyHI">de Tecsup Virtual 02 para Todos</h3><span class="style-time-16T7x">22:33</span><div class="style-chat-protect-cvDDH"><span class="style-chat-msg-3PAzJ" dir="auto">:root {
  scroll-behavior: smooth;
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --primary-text-color: #fff;
  --secondary-text-color: #eee;
  --reverse-primary-text-color: #000;
  --primary-invalid-color: crimson;
  --primary-shadow-color: #20232a80;
  --secondary-shadow-color: #282c3480;
  --tertiary-shadow-color: #00000040;
  --reverse-primary-shadow-color: #fff8;
  --primary-highlight-color: #61dafb;
  --secondary-highlight-color: gold;
  --primary-button-color: #61dafb;
  --secondary-button-color: gold;
  --primary-font-family: 'Inconsolata', monospace;
  --padding-section: 1.5rem;
  --padding-container: 1rem;
  --max-width-container: 640px;
  --primary-border-radius: 0.5rem;
}
