@import './modules/variables.css';

.body {
  background-color: var(--primary-theme-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  margin: 0;
}

.container {
  max-width: var(--max-width-container);
  margin: auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  color: var(--primary-text-color);
}