:root {
  --primary-theme-color: #eda;
  --secondary-theme-color: #ade;
  --primary-text-color: #fff;
  --primary-highlight-colot: #61dafb;
  --primary-font-family: monospace;
}

body {
  background-color: var(--primary-theme-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  margin: 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
}

.card {
  background-color: var(--primary-theme-color);
  border: 0.125rem solid var(--primary-highlight-color);
  border-radius: 1rem;
  max-width: 320px;
  margin: auto;
}